.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgb(28, 72, 172);
  background: linear-gradient(
    61deg,
    rgba(28, 72, 172, 1) 43%,
    rgba(0, 212, 255, 1) 100%
  );
}
.login-form {
  padding: 80px;
  min-width: 90%;
  background: rgba(0, 0, 0, 0.6);
  color: wheat;
  border-radius: 20px;
}
.submit-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

@media (min-width: 576px) {
  .login-form {
    min-width: 50%;
  }
}
